body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000000;
}

.container {
  text-align: center;
  background-color: rgb(49, 47, 47);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

.generate-button, .clear-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.generate-button:hover, .clear-button:hover {
  background-color: #0056b3;
}

.password-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
